.details {
    height: var(--collapsed);
    overflow: clip;
    transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
    color: #272931cc;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.details[open] {
    height: var(--expanded);
}

.details__summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 8px;
    margin-inline: 0;
    padding-block: 8px;
    padding-inline-end: 8px;
    user-select: none;
}

.details__summary::marker {
    display: none;
}

.details__summary-text {
    color: #272931;
    font-family: 'PT Mono', monospace;
    font-size: 30px;
}

.details__summary-icon {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    height: 12px;
    position: relative;
    transition: background-color .3s ease-in;
    width: 40px;
}

.details__summary-icon::after,
.details__summary-icon::before {
    transform-origin: 50%;
    transition: all .3s ease-in;
}

.details__summary-icon::after {
    border-color: currentcolor;
    border-style: solid;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 16px;
    margin: 0;
    position: relative;
    width: 16px;
    border-width: 0 2px 2px 0;
    top: 4px;
    transform: rotate(45deg);
}

.details[open] .details__summary-icon::after {
    top: 10px;
    transform: rotate(45deg) scale(-1);
}
